<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Project Name: {{project.project_title}}
    <br>
    Project ID: {{project.project_id}}
    <br>
    Project visits: {{project.visits}}
    <br>
    <a href="{% url 'home' %}">Home</a>
    <br>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" name="project_visit_add" value="{{project.project_id}}">
            <h1>+</h1>
        </button>
        <button type="submit" name="project_visit_sub" value="{{project.project_id}}">
            <h1>-</h1>
        </button>
        <br>
        Report Status
        <input type="checkbox" name="status" id="status">
        <br>
        <hr>
        <!-- Team Status: -->
        {% if project.team_presence == True %}
        Team Status: Available
        {% else %}
        Team Status: Unavailable
        {% endif %}
        <li>
            Present:
            <input type="checkbox" name="is_present" id="is_present">
        </li>
        <button type="submit" name="submit" id="sendData">Submit</button>
    </form>

    <script>
        {% if project.status == True %}
            document.getElementById('status').disabled = true;
            document.getElementById('status').checked = true;
        {% endif %}
        {% if project.team_presence == True %}
            document.getElementById('is_present').checked = true;
        {% endif %}
    </script>
</body>

</html>